/* parte de registro html */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  background-color: #2676c6; 
  color: #ffffff;            
  border: 1px solid #0955a0; 
}

input::placeholder {
  color: #c7defa;
}

body {
      background-color: #0e4871; 
      margin: 0;
      padding: 20px;
      display: flex;
      justify-content: center; 
      align-items: center;     
      min-height: 100vh;       
      font-family: Arial, sans-serif;
    }

    .tarjeta-formulario {
      background-color: #ffffff; 
      width: 100%;                  
      max-width: 450px;          
      padding: 30px;             
      border-radius: 16px;       
      box-shadow: 0 4px 12px rgba(32, 29, 29, 0.05); 
    }

    /* 1. Agrupador de cada campo (Label + Input) */
    .campo {
      margin-bottom: 16px; 
    }

    /* 2. Crear una fila para poner dos elementos lado a lado */
    .fila {
      display: flex;
      gap: 12px; 
    }

    .columna {
      flex: 1; 
    }

    label {
      display: block;
      font-size: 14px;
      font-weight: bold;
      color: #070404;
      margin-bottom: 6px; 
    }

    /* botón de género */
    /* Contenedor en fila para los 3 botones */
.opciones-genero {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

/* Cada opción ocupa el mismo espacio */
.opcion-btn {
  flex: 1;
  position: relative;
  cursor: pointer;
}

/* Ocultar el círculo nativo del radio button */
.opcion-btn input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo visual del botón */
.opcion-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 1.5px solid #dcdcdc;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #4a5568;
  background-color: #ffffff;
  transition: all 0.2s ease;
  text-align: center;
}

/* Cambio de estilo cuando se selecciona un botón */
.opcion-btn input[type="radio"]:checked + span {
  border-color: #0a4ae1;
  color: #235db6;
  font-weight: 600;
  background-color: #fff9f6;
}

/* Efecto hover al pasar el cursor */
.opcion-btn:hover span {
  border-color: #b0b0b0;
}